
.fullscreen-content-wrap.one {
	background-color: black;
	overflow: hidden;
	
	@media screen and (max-width: 500px) {
		height: 100vh;
	}

	.bg-img {
		position: absolute;
		background-image: url("../img/headerbg@2x.png");
		background-size: cover;
		width: 100%;
		height: 100%;
		z-index: 4;
		@media screen and (max-width: 1024px) {
			background-image: url("../img/headerbg.png");
		}
	}
}

.fullscreen-content-wrap.two {
	background-color: $grey-light;
}

.fullscreen-content-wrap.three {
	background-color: #282828;
}


   

.logo-wrap {
	height: 35vh;
	position: relative;
	z-index: 10;
	display: block;

	.logo {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 500px;
		max-height: 165px;
		margin-left: -250px; 
		overflow: hidden;
		@media screen and (max-width: 700px) {
			width: 400px;
			margin-left: -200px;
		}

		@media screen and (max-width: 500px) {
			width: 300px;
			margin-left: -150px;	
		}

		img {
			width: 100%;
		}
	}
}

.header-content {
	max-width: 80vw;
	margin: 11vh auto 0;
	padding: 0 20px; 
	position: relative;
	z-index: 10;

	@media screen and (max-width: 700px) {
		margin: 8vh auto 0;
	}

	@media screen and (max-width: 500px) {
		max-width: 100vw;
	}

	.header-text {
		text-align: center;
		p,h1 {
			color: white;
		}
		h1 {
			font-size: 5vw;
			font-weight: 600;
			@media screen and (max-width: 500px) {
				font-size: 22px;
			}
		}
		.p-text {
			max-width: 700px;
			margin: 30px auto 0;
		}
		p {
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			
			@media screen and (max-width: 500px) {
				font-size: 15px;
			}
		}
	}
}

.Ancordown {
	position: absolute;
	bottom: 0;
	z-index: 10;
	height: 20vh;
	width: 100%;

	
	.arrow {
		display: block;
		width: 30px;
		
		margin: 0 auto 20px;
		
		@include easing-mixin-1;
		
	}
	p {
		color: white;
		font-style: italic;
		font-size: 18px;
		text-align: center;
		font-weight: 300;

	}
}

.Ancordown .arrow:hover { 
	padding: 10px 0;
}


@media screen and (min-width: 700px) {
	
}


